$text-colour: red;
$Orange: hsl(26, 100%, 55%);
$Dark-grayish-blue: hsl(214, 47%, 23%);
$Light-grayish-blue: hsl(215, 100%, 95%);
$white: hsl(0, 0%, 100%);
$Light-gray: hsl(0, 0%, 94%);
$Brown-ish: hsl(26, 31%, 65%);
$red-ish: hsl(0, 77%, 64%);
$green-ish: hsl(154, 49%, 61%);